/* card */
.card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* Media Query Tablet */
@media (min-width: 600px) {
  .app-shell {
    max-width: 100%;
  }
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 45%;
  }
}

/* Media Query Desktop */
@media (min-width: 1200px) {
  .app-shell {
    max-width: 100%;
  }
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 20%;
  }
}
.card {
  position: relative;
  background-color: var(--app-card-bg);
  border-radius: 24px;
  padding: 24px 20px;
  box-shadow: 0 10px 25px rgba(86, 83, 83, 0.85);
  text-align: center;
}
.card__question {
  margin: 0 20px 8px;
  font-size: 20px;
  line-height: 1;
  color: var(--app-text-main);
}
.card__checkbox {
  display: none;
}
.card__answer {
/*   display: none; */ -- JS global see hidden
  margin: 20px 0 20px;
  font-style: italic;
  color: var(--app-text-secondary);
}

.hidden {
  display: none;
}

/* .card__checkbox:checked ~ .card__answer { -- neu JS
  display: block;
} */
/* card-tags */

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
}
.tag-list__item {
  padding: 6px 14px;
  background-color: var(--button-primary);
  border-radius: 999px;
  color: var(--app-text-secondary);
}
.tag-list__item--active {
  background-color: var(--button-secondery);
}
