.app-header {
  text-align: center;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--app-bg);
  border-bottom: 1px solid #ddd;
}

.app-header__title {
  font-size: 24px;
  margin: 0;
  color: var(--app-text-main);
}
