.app-nav {
  width: 100%;
  max-width: 390px;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
}

.app-nav__item {
  font-size: 28px;
  text-decoration: none;
}
.app-nav__item:hover {
  text-shadow: 0 0 20px var(--button-primary);
  cursor: pointer;
}

.app-nav__item--active {
  text-shadow: 0 0 30px var(--button-secondery);
}
